body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
}

#upload-section, #payment-section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

input[type="email"], input[type="number"], input[type="file"] {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #ccc;
}

h1, h2 {
    margin: 10px 0;
}
